body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  padding: 2em;
  background-color: rgb(101, 33, 179);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;


}

input[type="text"],
select {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

input[type="submit"] {
  padding: 0.5em 2em;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

button {

  width: 100%;

}

.outline {
  border: 1px solid rgb(77, 14, 121);
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
